.chart-wrapper {
    padding: 20px;
    height: 100%;
}

.chart-question {
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
}

.chart-total-votes-text {
    font-weight: 500;
}