.vote-wrapper {
    padding: 20px;
    border-right: 1px solid black;
    height: 100%;
}

.vote-question {
    margin-bottom: 20px;
    font-weight: bold;
    word-wrap: break-word;
}

.vote-button {
    width: 100%;
    min-width: 55px;
    border-radius: 5px;
    border: 2px solid black;
}

.vote-radio-list {
    list-style-type: none;
    padding: 0px;
    margin-top: 40px;
    font-weight: 500;
}

.vote-radio-list>li{
    margin-bottom: 30px;
}

.vote-radio-list>li>span{
    word-wrap: break-word;
}

.vote-radio-list>li>input{
    margin-right: 20px;
    cursor: pointer;
}