.answer {
    width: 100%;
    border: 1px solid black;
    padding: 5px 0px;
    word-wrap: break-word;
}

.answer-wrapper {
    margin-bottom: 20px;
}

.answer-button-cross {
    width: 55px;
    padding: 4px 0px;
    border-radius: 5px;
    border: 2px solid black;
}