.input-answer {
    width: 100%;
    padding: 5px 0px;
}

.enter-answer-wrapper {
    margin-bottom: 40px;
}

.enter-answer-button {
    width: 55px;
    padding: 4px 0px;
    border-radius: 5px;
    border: 2px solid black;
}